<div class="container py-3">
  <h2>Movies created by "{{ username }}"</h2>
  <div class="d-flex justify-content-end">
    <button
      type="button"
      class="btn btn-outline-primary"
      (click)="open(newModal)"
    >
      Add a New Movie
    </button>
  </div>
  <div class="table-responsive mt-2">
    <table class="table table-striped table-hover table-bordered">
      <thead class="table-dark">
        <tr>
          <th>Title</th>
          <th>Year</th>
        </tr>
      </thead>
      <tbody>
        @for(item of movies; track item._id){
        <tr>
          <td class="align-middle">{{ item.title }}</td>
          <td class="align-middle">{{ item.year }}</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>

<ng-template #newModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Creating a new Movie</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss()"
    ></button>
  </div>
  <div class="modal-body p-3">
    <div class="mb-2">
      <label for="title" class="fw-bold">Title</label>
      <input type="text" class="form-control" id="title" [(ngModel)]="title" />
    </div>
    <div class="mb-2">
      <label for="year" class="fw-bold">Year</label>
      <input type="text" class="form-control" id="year" [(ngModel)]="year" />
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark me-2"
      (click)="modal.close()"
    >
      Cancel
    </button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="create()"
      [disabled]="busy"
    >
      Create
    </button>
  </div>
</ng-template>
