/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.app-primary-color {
  color: #96ff07 !important;
}
.app-secondary-color {
  color: #ffaf01 !important;
}
