<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand h1 me-5 mb-0 app-primary-color" href="">
      Todo App v2.0
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link text-white"
            aria-current="page"
            routerLink=""
            routerLinkActive="app-secondary-color fw-medium"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Home
          </a>
        </li>
        @for(item of routes; track $index){
        <li class="nav-item">
          <a
            class="nav-link text-white"
            [routerLink]="item.path"
            routerLinkActive="app-secondary-color fw-medium"
          >
            {{ item.text }}
          </a>
        </li>
        }
      </ul>
      <div class="d-flex align-items-center">
        @if(username){
        <div class="app-primary-color fw-medium">{{ username }}</div>
        <div ngbDropdown class=" ">
          <span
            role="button"
            class="arrow"
            id="dropdownBasic1"
            ngbDropdownToggle
          ></span>
          <div
            ngbDropdownMenu
            aria-labelledby="dropdownBasic1"
            class="dropdown-menu dropdown-menu-end"
          >
            <button ngbDropdownItem (click)="logout()">Logout</button>
          </div>
        </div>
        } @else {
        <a class="nav-link app-primary-color fw-medium" routerLink="login">
          Login
        </a>
        }
      </div>
    </div>
  </div>
</nav>

<main class="main d-flex flex-column flex-fill">
  <router-outlet />
</main>
