<div
  class="d-flex flex-column align-items-center justify-content-center w-100 h-100"
>
  <img
    ngSrc="logo.png"
    alt="logo"
    width="250"
    height="250"
    class="rounded-circle"
    priority
  />
  <form (submit)="signUp()">
    <div class="mb-3">
      <label for="username" class="">Username</label>
      <input
        type="text"
        class="form-control"
        id="username"
        name="username"
        [(ngModel)]="username"
      />
    </div>
    <div class="mb-3">
      <label for="inputPassword3" class=""> Password </label>
      <input
        type="password"
        name="password"
        class="form-control"
        id="inputPassword3"
        [(ngModel)]="password"
      />
    </div>
    <div class="mb-3">
      <label for="email" class=""> Email </label>
      <input
        type="email"
        name="email"
        class="form-control"
        id="email"
        [(ngModel)]="email"
      />
    </div>

    <button type="submit" class="btn btn-primary">Sign Up</button>
    <div class="text-danger">
      {{ errorMsg }}
    </div>
  </form>
</div>
